.carrousel {
width: 100%;
height: 450px;
background: black;
margin-top: 1px;

}

.texto-carrousel{
   font-size: 50px;
    text-shadow: 0 0 5px black;

}

.mini{
    margin-top: 3px;
    margin-bottom: 1px;
    width: 100%;
    height: 200px;
}

div.carousel{
    width: 100%;
}