@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body{
    background-color: darkslategray !important;
}

div.cajaopen{
        width: 150px;
        height:150px;
        background-image: url('../img/cajaopen.svg');
        background-repeat: no-repeat;
        background-size: 150px auto;
        background-position: bottom; 
        cursor: pointer;
        margin: 5px 0px;

    }

div.botones-escogerCaja{
    box-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    border-radius: 3px;
}

div.caja{
    width: 150px;
    height: 150px;
    background-image: url('../img/caja.svg');
    background-repeat: no-repeat;
    background-size: 150px auto;
    background-position: bottom; 
    cursor: pointer;
    margin: 5px 0px;
}

div.precio{
    width: 100%;
}



div.caja-seleccionada{
    display: block;
    margin: 0 auto;
}

div.num-caja{
    height: 100%;
    width: 20%;
    margin-top: 28px;
    text-align: center;
    font-size: 18px;

}

div.textBox{
    margin: 5px 0;
    margin-top: 60px;
}

div.text-textBox{
    background-color:rgb(38, 37, 44);
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    padding: 2px 8px;
    border-radius: 4px;
}

div.marco-textBox{
    padding: 5px 8px;
    border-radius: 4px;
    background:
        linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

div.modal-content{
    background-color: #ff7878;
    background-image: linear-gradient(315deg, #ff7878 0%, #ff0000 74%);
    border-radius: 20px;
    border: none;
    min-width: 400px;
    min-height: 200px;
    
}

div.modal-body{
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

div.modal-header{
    border: none;
    display: inline;
    text-align: center;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

div.modal-footer{
    border: none;
}

div.modal-footer button {
    margin: 0 auto;
}

div.modal-footer a {
    margin: 0 auto;
}


a.btn-rechazar, button.btn-rechazar{
    border-radius: 20px;
}

a.btn-aceptar, button.btn-aceptar{
    border-radius: 20px;
}

img.logo-img{
    width: 22%;
}

div.contador-apuesta{
    display: inline-block;
    margin-left: 18%;
    text-align: right;
}

button.btn-rechazar, a.btn-rechazar{
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    border: 1px rgb(104, 0, 0) solid;
}

button.btn-rechazar:hover, a.btn-rechazar:hover{
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    border: 1px rgb(104, 0, 0) solid; 
}

.btn-rechazar:not(:disabled):not(.disabled).active:focus, .btn-rechazar:not(:disabled):not(.disabled):active:focus, .show>.btn-rechazar.dropdown-toggle:focus{
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    border: 1px rgb(104, 0, 0) solid; 
    

}

.btn-rechazar.focus, .btn-rechazar:focus{
    box-shadow: 0 0 0 0.2rem #dc3545 !important;
}

button.btn-aceptar, a.btn-aceptar{
    border-radius: 20px;
}

button.btn-aceptar, a.btn-aceptar{
    background: -moz-linear-gradient(top, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #7FC388), color-stop(44%, #509B5D), color-stop(100%, #297A3A));
    background: -webkit-linear-gradient(top, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    background: -o-linear-gradient(top, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    background: -ms-linear-gradient(top, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    background: linear-gradient(to bottom, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    border: 1px #1f5f2d solid; 
}

button.btn-aceptar:hover, a.btn-aceptar:hover{
    background: -moz-linear-gradient(top, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #7FC388), color-stop(44%, #509B5D), color-stop(100%, #297A3A));
    background: -webkit-linear-gradient(top, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    background: -o-linear-gradient(top, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    background: -ms-linear-gradient(top, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    background: linear-gradient(to bottom, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    border: 1px #1f5f2d solid; 
}

.btn-aceptar:not(:disabled):not(.disabled).active:focus, .btn-aceptar:not(:disabled):not(.disabled):active:focus, .show>.btn-aceptar.dropdown-toggle:focus{
    background:-moz-linear-gradient(top, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #7FC388), color-stop(44%, #509B5D), color-stop(100%, #297A3A));
    background: -webkit-linear-gradient(top, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    background: -o-linear-gradient(top, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    background: -ms-linear-gradient(top, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    background: linear-gradient(to bottom, #7FC388 0%, #509B5D 44%, #297A3A 100%);
    border: 1px #1f5f2d solid; 
    

}

.btn-aceptar.focus, .btn-aceptar:focus{
    box-shadow: 0 0 0 0.2rem rgb(83, 131, 83) !important;
}

.modal-dialog{
    margin-top: 20px;
}

.show{
    display: flex !important;
    justify-content: center;
    align-items: center;
    
}

