div.premio{
    display: inline-block;
    width: 100%;
    height: 40px;
    margin: 2px;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

div.premiosBorder{
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    background: #a90329;
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0 );
}

div.bc-green-premio1{
    background-color: #7FC388;
}
div.bc-green-premio2{
    background-color: #77BC80;
}
div.bc-green-premio3{
    background-color: #6FB579;
}
div.bc-green-premio4{
    background-color: #67AF72;
}
div.bc-green-premio5{
    background-color: #5FA86B;
}
div.bc-green-premio6{
    background-color: #57A164;
}
div.bc-green-premio7{
    background-color: #509B5D;
}
div.bc-green-premio8{
    background-color: #489456;
}
div.bc-green-premio9{
    background-color: #408D4F;
}
div.bc-green-premio10{
    background-color: #388748;
}
div.bc-green-premio11{
    background-color: #378647;
}
div.bc-green-premio12{
    background-color: #308040;
}
div.bc-green-premio13{
    background-color: #297A3A;
}