html{
    background-color: darkslategray !important;
}
body {    
    padding-bottom: 50px;
}

nav.navbar{
    background-color: rgb(91, 151, 151) !important;
    position: fixed;
    z-index: 600;
    width: 100%;
    
}

div.card{
    -webkit-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px;
    height: 100%;
}

div.card-body{
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

div.card-title{
    font-size: 25px;
    text-align: center;
}

a button.btn{
    display: block;
    margin: 0 auto;
    font-size: 25px;
}

button.amarillo{
    background: -moz-linear-gradient(top, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #98a903), color-stop(44%, #8d8f02), color-stop(100%, #6d6600));
    background: -webkit-linear-gradient(top, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    background: -o-linear-gradient(top, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    background: -ms-linear-gradient(top, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    background: linear-gradient(to bottom, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    border: 1px #474300 solid;
}

button.amarillo:hover{
    background: -moz-linear-gradient(top, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #98a903), color-stop(44%, #8d8f02), color-stop(100%, #6d6600));
    background: -webkit-linear-gradient(top, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    background: -o-linear-gradient(top, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    background: -ms-linear-gradient(top, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    background: linear-gradient(to bottom, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    border: 1px #474300 solid;
}

button.amarillo:not(:disabled):not(.disabled).active:focus, button.amarillo:not(:disabled):not(.disabled):active:focus, .show>button.amarillo.dropdown-toggle:focus{
    background: -moz-linear-gradient(top, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #98a903), color-stop(44%, #8d8f02), color-stop(100%, #6d6600));
    background: -webkit-linear-gradient(top, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    background: -o-linear-gradient(top, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    background: -ms-linear-gradient(top, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    background: linear-gradient(to bottom, #98a903 0%, #8d8f02 44%, #6d6600 100%);
    border: 1px #474300 solid; 
    

}

button.amarillo.focus, button.amarillo:focus{
    box-shadow: 0 0 0 0.2rem #d1dc35 !important;
}



a.navbar-brand i {
    background-color: white;
    border-radius: 2px;
    padding: 4px;
    color: orangered;
    font-size: 1.5em;
    margin-right: 10px;
}
a.navbar-brand span {
    color: white;
    padding: 10px;
    border-radius: 10px;
    }

    a.navbar-brand{
        margin-bottom: -6px;
    }

    a.navbar-brand span img{
        
        margin-bottom: 5px;
        margin-right: 10px;
    }

label {
    text-transform: capitalize;
}

h1.titol-vista{
    font-size: 30px;
    margin: 25px 0;
    text-transform: capitalize;
}

i.blue-icon {
    color: burlywood;
}


i.red-icon {
    color: black;
}

i.clicable {
    cursor: pointer;
}

img.img1{
padding: 2em;

}

img.img2{
    padding: 2em;
}

